@import url("/fonts/roboto-thin.ttf");
@import url("/fonts/roboto-regular.ttf");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 5px #dfdfdf;
  padding: 1rem;
}
.nav svg {
  margin: 5px;
  cursor: pointer;
}
.nav .burger {
  position: absolute;
  top: 1rem;
  right: 1.4rem;
  display: none;
  width: 31px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
}
.nav .bar {
  width: 100%;
  height: 5px;
  background: #3C72FF;
}
.nav .links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav .links li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 1rem;
  color: #3794ff;
}
.nav .links li a:visited {
  color: #3794ff;
}

.hero_bg {
  position: relative;
  width: 100%;
}
.hero_bg img {
  width: 100%;
  filter: brightness(30%);
}
.hero_bg .hero_text {
  position: absolute;
  color: #f0f9ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero_bg .hero_text h1 {
  font-size: 5rem;
  font-weight: 400;
}
.hero_bg .hero_text p {
  font-size: 1.5rem;
  font-weight: 400;
}
.hero_bg .hero_text p span {
  font-weight: 400;
  color: #3794ff;
}
.hero_bg .hero_text .hero_btn {
  color: white;
  display: block;
  text-decoration: none;
  background: #3794ff;
  margin-top: 0.7rem;
  padding: 0.6rem 0.9rem;
  text-align: center;
  font-weight: 400;
}
.hero_bg .hero_text .hero_btn:hover {
  background: #3C72FF;
}

.main {
  margin: 1rem;
}
.main .main_text {
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #88aeff;
  margin-bottom: 1rem;
}
.main h1 {
  text-align: center;
  padding: 9px 0;
}
.main .images_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.4rem;
}
.main .images_section .images img {
  width: 100%;
  filter: brightness(40%);
}
.main .images_section figure {
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 0 5px 5px #c4c4c4;
  font-size: 0.8rem;
}
.main .images_section figure figcaption {
  padding: 0.3rem 0.4rem;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}

.shop_section {
  display: flex;
  margin: 5px 0;
  justify-content: space-around;
}
.shop_section .group_category {
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}
.shop_section .shop_aside {
  width: 20%;
  box-shadow: 0px 5px 5px #c4c4c4;
}
.shop_section .shop_aside ul {
  list-style: none;
}
.shop_section .shop_aside ul li {
  padding-left: 5px;
}
.shop_section .shop_aside h1 {
  font-size: 1.6rem;
  margin-left: 5px;
}
.shop_section .shop_aside h2 {
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.shop_section .shop_main {
  width: 60%;
  margin: 1rem 0;
  box-shadow: 0px 5px 5px #c4c4c4;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr;
}
.shop_section .shop_main .card {
  cursor: pointer;
  display: flex;
  color: #6b6b6b;
  box-shadow: 0px 5px 5px #c4c4c4;
}
.shop_section .shop_main .card img {
  width: 50%;
  height: auto;
}
.shop_section .shop_main .card .card_header {
  padding: 0 10px;
  font-weight: 400;
}
.shop_section .shop_main .card ul {
  list-style: none;
  padding: 0 15px;
}
.shop_section .shop_main .card ul li {
  color: #838383;
  font-weight: 400;
}

footer {
  color: #f0f9ff;
  background-color: #282d32;
  display: flex;
  flex-direction: column;
}
footer a {
  color: #93c5fd;
  text-decoration: none;
}
footer a:hover {
  color: #579ae7;
}
footer main {
  display: flex;
  justify-content: space-around;
}
footer main .footer_section_header {
  margin: 15px 0;
}
footer main .product_section_footer ul {
  list-style: none;
}
footer main .contact_section_footer .links_section_footer {
  display: flex;
  flex-direction: column;
}
footer .contact_section_footer h4 {
  margin: 5px 0;
}
footer .copy-right-footer {
  text-align: center;
  margin: 15px 0;
}

.login {
  width: 50%;
  margin: 1rem auto;
  box-shadow: 5px 5px 5px #c4c4c4;
  display: flex;
  font-weight: 400;
}
.login .login_image img {
  width: 100%;
}
.login .login_form {
  margin: 0rem 2rem;
}
.login .login_form .form_msg {
  font-size: 0.8rem;
  color: #9c9c9c;
  text-transform: capitalize;
  font-weight: 400;
}
.login .login_form .form_msg span {
  color: #3794ff;
  font-weight: 400;
}
.login .login_form .form_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.login .login_form .form_logo a {
  display: block;
}
.login .login_form .form_group {
  margin: 0.5rem 0;
}
.login .login_form .form_group label {
  font-size: 0.8rem;
  font-weight: 400;
}
.login .login_form .form_group input[type=email] {
  border: 1px #b3b3b3 solid;
  padding: 0.2rem 0;
  display: block;
  width: 100%;
}
.login .login_form .form_group input[type=password] {
  border: 1px #b3b3b3 solid;
  padding: 0.2rem 0;
  display: block;
  width: 100%;
}
.login .login_form .form_group .login_submit {
  width: 100%;
  border: none;
  font-weight: 400;
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: #3794ff;
  color: white;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px #b1aeae;
  width: 80%;
  text-transform: capitalize;
  margin: 1rem auto;
  line-height: 1.3rem;
}
.contact .text_section {
  color: gray;
  padding: 1rem;
}
.contact .text_section h1 {
  margin-bottom: 1rem;
  color: black;
  font-weight: 400;
}
.contact .text_section h3 {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #3794ff;
}
.contact .text_section a {
  text-decoration: none;
}
.contact .text_section .contact_btn {
  color: white;
  background-color: #3794ff;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  display: inline-block;
}
.contact .map_section iframe {
  width: 100%;
  height: 300px;
}
.contact ul {
  list-style: none;
}

@media (max-width: 767.98px) {
  .nav {
    flex-direction: column;
  }
  .nav .links {
    display: none;
    width: 100%;
    flex-direction: column;
    width: 100%;
  }
  .nav .links li {
    text-align: center;
  }
  .nav .links li a {
    padding: 0.5rem 1rem;
  }
  .nav .links.active {
    display: flex;
  }
  .nav .burger {
    display: flex;
    align-content: center;
  }

  .shop_section {
    flex-direction: column;
    align-items: center;
  }
  .shop_section .shop_aside {
    width: 80%;
    order: 1;
  }
  .shop_section .shop_main {
    width: 80%;
  }
  .shop_section .shop_main .card {
    flex-direction: column;
  }
  .shop_section .shop_main .card img {
    width: 100%;
  }
  .shop_section .shop_main .card ul {
    margin-bottom: 5px;
  }

  .hero_bg .hero_text h1 {
    font-size: 2rem;
  }
  .hero_bg .hero_text p {
    font-size: 1rem;
  }

  .login .login_image {
    display: none;
  }
  .login .login_form .form_logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
